DB_URL=jdbc:postgresql://localhost:5432/reports_db;
DB_USERNAME=postgres;
DB_PASSWORD=1234;
JWT_SECRET=my-super-secret-key-12345678901234567890


# CMD Docker
# docker exec -it reports-postgres psql -U reportsuser -d reportsdb

